@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Press+Start+2P&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

body.chakra-ui-light {
  background: var(--chakra-colors-neutral-800);
}

body.chakra-ui-dark {
  background: var(--chakra-colors-neutral-900);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html[data-theme="dark"] {
  color-scheme: dark;
}

*:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none !important;
}

@keyframes float {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.float-animation {
  animation: float 1s infinite alternate;
}

@media (prefers-reduced-motion) {
  .float-animation {
    animation: none;
  }
}
