---
import { Icon } from "astro-icon/components";
---

<form class="flex flex-col gap-4 w-full">
  <div class="mt-6 bg-slate-700 rounded-lg">
    <div class="grid lg:grid-cols-2 gap-4 sm:p-8 p-4 font-[sans-serif]">
      <div>
        <h1 class="text-4xl font-bold text-white">Get in Touch</h1>
        <p class="text-sm text-gray-300 mt-4 leading-relaxed">
          Let's Talk! Connect with me:
        </p>

        <ul class="mt-4 space-y-4">
          <li class="flex items-center">
            <Icon name="mdi:linkedin" class="size-6" />
            <a
              href="https://www.linkedin.com/in/paripsky"
              target="_blank"
              class="text-white text-sm ml-4"
            >
              Linkedin
            </a>
          </li>
          <li class="flex items-center">
            <Icon name="mdi:github" class="size-6" />
            <a
              href="https://github.com/paripsky"
              target="_blank"
              class="text-white text-sm ml-4"
            >
              Github
            </a>
          </li>
          <li class="flex items-center">
            <Icon name="mdi:dev-to" class="size-6" />
            <a
              href="https://dev.to/paripsky"
              target="_blank"
              class="text-white text-sm ml-4"
            >
              dev.to
            </a>
          </li>
        </ul>
      </div>

      <div class="bg-gray-100 p-6 rounded-lg">
        <div class="flex flex-col gap-4 min-h-[24rem]">
          <input
            type="text"
            placeholder="Subject"
            name="subject"
            class="w-full rounded-lg py-3 px-4 text-gray-800 text-sm"
          />
          <textarea
            name="content"
            placeholder="Message"
            rows="6"
            class="w-full flex-1 rounded-lg px-4 text-gray-800 text-sm pt-3"
          ></textarea>
          <button
            type="submit"
            class="text-white bg-sky-700 tracking-wide rounded-lg text-sm px-4 py-3 flex gap-2 items-center justify-center w-full !mt-6"
          >
            <Icon name="mdi:send" class="size-4" />
            Send Message
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  const form = document.querySelector("form");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    const target = e.target as any;
    if (!target.subject.value || !target.content.value) return;
    window.open(
      `mailto:paripsky@gmail.com?subject=${target.subject.value}&body=${target.content.value}`,
      "_blank",
    );
  });
</script>
