<form class="flex flex-col gap-4 w-full sm:w-3/4 lg:w-full max-w-4xl mx-auto">
  <div class="form-control w-full">
    <label class="label">
      <span class="label-text">Subject</span>
    </label>
    <input
      type="text"
      placeholder="Type here"
      class="input input-bordered w-full"
      name="subject"
    />
  </div>
  <div class="form-control w-full">
    <label class="label">
      <span class="label-text">Content</span>
    </label>
    <textarea
      placeholder="Type here"
      class="textarea textarea-bordered w-full min-h-[10rem]"
      name="content"></textarea>
  </div>
  <div class="form-control w-full">
    <button class="btn">Send</button>
  </div>
</form>

<script>
  const form = document.querySelector("form");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    const target = e.target as any;
    if (!target.subject.value || !target.content.value) return;
    window.open(
      `mailto:paripsky@gmail.com?subject=${target.subject.value}&body=${target.content.value}`,
      "_blank",
    );
  });
</script>
