<div class="flex flex-col gap-2">
  <h1 class="p-2">Github Activity</h1>
  <div
    id="github-contributions"
    class="flex flex-col flex-wrap gap-0.5 h-31 overflow-auto [scrollbar-width:thin] [scrollbar-gutter:stable]"
  >
  </div>
</div>

<script type="module">
  const contributions = await fetch(
    "https://gh-contributions.deno.dev/paripsky",
  ).then((c) => c.json());

  const colors = {
    level0: "bg-transparent",
    level1: "bg-sky-200",
    level2: "bg-sky-400",
    level3: "bg-sky-600",
    level4: "bg-sky-800",
  };

  const getColor = (level) => {
    return colors[`level${level}`];
  };

  document.querySelector("#github-contributions").innerHTML = contributions
    .map(
      (contribution) =>
        `<div data-date="${contribution.date}" title="${contribution.date}" class="size-4 ${getColor(contribution.level)} rounded-md border border-zinc-800"></div>`,
    )
    .join("");
</script>
