.text {
    fill: none;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-dasharray: 70 280;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 10s infinite linear;
    animation: stroke 10s infinite linear;
    font: 4em/1 Oswald, sans-serif;
}

.text:nth-child(5n + 1) {
    stroke: var(--chakra-colors-pink-500);
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.text:nth-child(5n + 2) {
    stroke: var(--chakra-colors-purple-500);
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
}

.text:nth-child(5n + 3) {
    stroke: var(--chakra-colors-purple-300);
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
}

.text:nth-child(5n + 4) {
    stroke: var(--chakra-colors-cyan-500);
    -webkit-animation-delay: -8s;
    animation-delay: -8s;
}

.text:nth-child(5n + 5) {
    stroke: var(--chakra-colors-blue-500);
    -webkit-animation-delay: -10s;
    animation-delay: -10s;
}

.chakra-ui-dark .text:nth-child(5n + 1) {
    stroke: var(--chakra-colors-pink-500);
}

.chakra-ui-dark .text:nth-child(5n + 2) {
    stroke: var(--chakra-colors-purple-500);
}

.chakra-ui-dark .text:nth-child(5n + 3) {
    stroke: var(--chakra-colors-teal-500);
}

.chakra-ui-dark .text:nth-child(5n + 4) {
    stroke: var(--chakra-colors-cyan-500);
}

.chakra-ui-dark .text:nth-child(5n + 5) {
    stroke: var(--chakra-colors-blue-500);
}

.svg {
    pointer-events: none;
    transform: scale(1);
}

/* @media only screen and (min-width: 768px) {
    .svg {
        transform: scale(2);
   }
} */

@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: -350;
   }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -350;
   }
}
