---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="@paripsky's Portfolio" />
    <meta
      property="og:description"
      content="Explore the portfolio of Paripsky, a full stack engineer specializing in JavaScript, React, and Node.js."
    />
    <meta property="og:url" content="https://paripsky.github.io/" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Paripsky's Portfolio" />
    <meta
      name="twitter:description"
      content="Explore the portfolio of Paripsky, a full stack engineer specializing in JavaScript, React, and Node.js."
    />

    <meta
      name="description"
      content="Explore the portfolio of Paripsky, a full stack engineer specializing in JavaScript, React, and Node.js."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>@paripsky's Portfolio</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  /* :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  } */
</style>
